<ul>  
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <li><strong>{{ app.user.name}}</strong> 
    {% if app.user.company.name is defined %}
        <i>signed in for</i> <strong>{{app.user.company.name|capitalize }}</strong>
    {% endif %}
    </li>
    <li><a href="{{ path('fos_user_profile_show') }}"><img src="{{ asset('/gfx/icon-profile.png') }}" alt="Profile" /> View Profile</a></li>
    <li><a href="#"><img src="{{ asset('/gfx/icon-settings.png') }}" alt="Settings" /> Settings</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}"><img src="{{ asset('/gfx/icon-logout.png') }}" alt="Logout" /> Logout</a></li>

{% else %}
    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
{% endif %}
</ul>
