{% extends '::base.html.twig' %}

{% block title %}Registration{% endblock %}
{% block subnav %}<li class="active"><a href="/register">Registration</a></li>{% endblock %}
{% form_theme form 'BungleCoreBundle:Form:theme.html.twig' %}
{% block content %}
    <div class="box">
        <div class="title">
            <h2>User Registration</h2>
            <div class="hide"></div>
        </div>
        <div class="content">
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
                {{ form_widget(form) }}
                <div class="row">
                    <button type="submit" class="medium green" name="submit" value="submit"><span>Register Account</span></button>
                </div>
            </form>
        </div>
{% endblock %}