{% extends '::base.html.twig' %}
{% block title %}My Company{% endblock %}
{% block subnav %}<li class="active"><a href="{{ path('bungle_company_admin') }}">Company Administration</a></li>{% endblock %}
{% form_theme form 'BungleCoreBundle:Form:theme.html.twig' %}
{% block content %}
<form action="{{ path('bungle_company_admin_edit', {"accountNo":accountNo}) }}" {{ form_enctype(form) }} method="POST" id="CompanyForm" name="CompanyForm">   
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="box">
        <div class="title"><h2>Administration Options</h2><div class="hide"></div></div>
        <div class="content">
            {{ form_row(form.accountNo) }}
            {{ form_row(form.parent) }}
        </div> 
    </div>
{% endif %}   
{% do form.parent.setRendered %}
{% do form.accountNo.setRendered %}          
<div class="box">
    <div class="title"><h2>Basic Information</h2><div class="hide"></div></div>
    <div class="content">
        {{ form_row(form.name) }}
    </div> 
</div>
<div class="box">
    <div class="title"><h2>Company Address</h2><div class="hide"></div></div>
    <div class="content">
        {{ form_row(form.addressBuilding) }}
        {{ form_row(form.addressNo) }}
        {{ form_row(form.addressStreet) }}
        {{ form_row(form.addressLine2) }}
        {{ form_row(form.addressState) }}
        {{ form_row(form.addressPostcode) }}
        {{ form_row(form.addressCountry) }}
    </div>
</div>
               
<div class="box">
    <div class="title"><h2>Billing Address</h2><div class="hide"></div></div>
    <div class="content">
        {{ form_row(form.cloneBillingAddress) }}
        {{ form_row(form.billingAddressBuilding) }}
        {{ form_row(form.billingAddressNo) }}
        {{ form_row(form.billingAddressStreet) }}
        {{ form_row(form.billingAddressLine2) }}
        {{ form_row(form.billingAddressState) }}
        {{ form_row(form.billingAddressPostcode) }}
        {{ form_row(form.billingAddressCountry) }}
        {{ form_rest(form) }} 
        <div class="row"><button type="submit" class="medium green" name="submit" value="submit"><span>Submit</span></button></div>
    </div>
</div>   
<script type="text/javascript">
    function CloneBilling() {
        document.getElementById('bungle_companyInfo_form_billingAddressBuilding').value = document.getElementById('bungle_companyInfo_form_addressBuilding').value;
        document.getElementById('bungle_companyInfo_form_billingAddressNo').value = document.getElementById('bungle_companyInfo_form_addressNo').value;
        document.getElementById('bungle_companyInfo_form_billingAddressStreet').value = document.getElementById('bungle_companyInfo_form_addressStreet').value;
        document.getElementById('bungle_companyInfo_form_billingAddressLine2').value = document.getElementById('bungle_companyInfo_form_addressLine2').value;
        document.getElementById('bungle_companyInfo_form_billingAddressState').value = document.getElementById('bungle_companyInfo_form_addressState').value;
        document.getElementById('bungle_companyInfo_form_billingAddressPostcode').value = document.getElementById('bungle_companyInfo_form_addressPostcode').value;
        document.getElementById('bungle_companyInfo_form_billingAddressCountry').value = document.getElementById('bungle_companyInfo_form_addressCountry').value;
    }  
    
   function ClearBilling() {
        document.getElementById('bungle_companyInfo_form_billingAddressBuilding').value = "";
        document.getElementById('bungle_companyInfo_form_billingAddressNo').value = "";
        document.getElementById('bungle_companyInfo_form_billingAddressStreet').value = "";
        document.getElementById('bungle_companyInfo_form_billingAddressLine2').value = "";
        document.getElementById('bungle_companyInfo_form_billingAddressState').value = "";
        document.getElementById('bungle_companyInfo_form_billingAddressPostcode').value = "";
        document.getElementById('bungle_companyInfo_form_billingAddressCountry').value = "";
    }  
    
    $('#bungle_companyInfo_form_cloneBillingAddress').click(function(event) {
        if (document.getElementById("bungle_companyInfo_form_cloneBillingAddress").checked == true){
            CloneBilling();
        }else{
            ClearBilling();
        }
    });

</script>
</form>

{% endblock %}
