{% extends '::base.html.twig' %}

{% block title %}Company Administration{% endblock %}
{% block subnav %}<li class="active"><a href="{{ path('bungle_company_admin') }}">Company Administration</a></li>{% endblock %}
{% block content %}
    <div class="box">
        <div class="title"><h2>List Companies</h2><div class="hide"></div></div>
        <div class="content">
            <table cellspacing="0" cellpadding="0" border="0" class="all"> 
                <thead> 
                    <tr> 
                        <th><input type="checkbox" name="check" class="checkall" /></th>
                        <th>Account #</th>
                        <th>Name</th>
                        <th>Parent Company</th>
                        <th>Created</th>
                        <th>Modified</th>
                        <th></th>
                    </tr> 
		</thead> 
		<tbody> 
                    {% for company in results  %}
                   <tr> 
			<td><input type="checkbox" name="check" /></td>
                        <td>{{ company.account }}</td>
			<td><a href="{{ path('bungle_company_admin_edit', {"accountNo":company.account}) }}">{{ company.name }}</a></td>
			<td>{{ company.parent }}</td>
			<td><center>{{ company.created  }}</center></td>
			<td><center>{{ company.modified }}</center></td>
			<td><a href="{{ path('bungle_company_admin_edit', {"accountNo":company.account}) }}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody> 
            </table>
            <button type="submit" class="red"><span>DELETE</span></button>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}