{% extends '::base.html.twig' %}

{% block title %}Chat{% endblock %}
{% block subnav %}<li class="active"><a href="{{ path('bungle_company_my_view') }}">Chat Page</a></li>{% endblock %}
{% block content %}
<div class="section">
    <div class="three-quarter">
        <div class="box">
            <div class="title"><h2>Chat Window</h2><div class="hide"></div></div>
            <div class="content chat">
                <div class='span12' id="chat-pane" class="chat-pane" style='height:320px; border: 1px solid #ccc; overflow: auto;'>
                    <ul class='unstyled'>
                        <li><ul>Channel: #Mainchat</ul></li>
                    </ul>
                </div>
                 <div id="chatbox"><div id="sysmsg"></div><br><input type="text" id="chat-input" class="chat-input" style='width: 98%; margin:0px;' /><br><button class="green chatEntry" type="submit" style="opacity: 1;"><span>Send</span></button></div>
            </div>
        </div>
    </div>
    <div class="quarter">
        <div class="box">
            <div class="title"><h2>Users Online</h2><div class="hide"></div></div>
            <div class="content online">
                <ul class="square">
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="box">
        <div class="title"><h2>Subscribed rooms</h2><div class="hide"></div></div>
        <div class="content subscribed"></div>
    </div>
</div>
{% endblock %}