<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{% block title %}Bungle{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets
            'css/style.css'
            'css/style_text.css'
            'css/login.css'
            'css/link-buttons.css'
            'css/fullcalendar.css'
            'css/forms.css'
            'css/form-buttons.css'
            'css/accordion.css'
            'css/modalwindow.css'
            'css/system-messages.css'
            'css/datatable.css'
            'css/statics.css'
            'css/tabs.css'
            'css/alerts.css'
            'css/tooltip.css'
            'css/notifications.css'
            'css/prettify.css'
            'css/elfinder.css'
            'css/pirebox.css'
            'css/colorpicker.css'
            'css/wizard.css'
            'css/wysiwyg.css'
            'css/wysiwyg.modal.css'
            'css/wysiwyg-editor.css'
            output='css/compiled/screen.css'
            filter='cssrewrite,?yui_css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% endblock %}
        {% javascripts
            'js/jquery-1.7.1.min.js'
            'js/jquery-ui.js'
            'js/jquery-ui-select.js'
            'js/jquery-ui-spinner.js'
            'js/jquery.customInput.js'
            'js/jquery.dataTables.js'
            'js/jquery.smartwizard-2.0.min.js'
            'js/jquery.alerts.js'
            'js/jquery.flot.js'
            'js/jquery.graphtable-0.2.js'
            'js/jquery.flot.pie.min.js'
            'js/jquery.flot.resize.min.js'
            'js/jquery.filestyle.mini.js'
            'js/prettify.js'
            'js/elfinder.min.js'
            'js/jquery.jgrowl.js'
            'js/colorpicker.js'
            'js/jquery.tipsy.js'
            'js/fullcalendar.min.js'
            'js/pirobox.extended.min.js'
            'js/jquery.validate.min.js'
            'js/jquery.metadata.js'
            'js/jquery.wysiwyg.js'
            'js/controls/wysiwyg.image.js'
            'js/controls/wysiwyg.link.js'
            'js/controls/wysiwyg.table.js'
            'js/plugins/wysiwyg.rmFormat.js'
            'js/costum.js'
            output='js/compiled/main.js'
            filter='?yui_js'
        %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}


        <!--[if lte IE 8]>
                <script type="text/javascript" src="js/excanvas.min.js"></script>
        <![endif]-->

    </head>
    <body onload="prettyPrint()">
        <div id="wrapper">
            <div id="left">
                <h1><a href="/">bungle<b>&nbsp;1</b></a></h1>
                    {% render 'BungleCoreBundle:Menu:menu' with {} %}
                <div id="credits">&#169; Copyright 2012</div>
            </div>

            <div id="right">
                <div id="top-bar">
                    {% include ':elements:topMenu.html.twig' %}
                </div>

                <div id="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        {% block subnav %}{% endblock %}
                    </ul>

                    <div id="search">
                        <input type="text" value="" placeholder="Search" />
                        <button type="submit"></button>
                    </div>
                </div>
                <div id="main">

                    <div class="section">
                        {% for key, message in app.session.getFlashes() %}
                            <div class="{{ key }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% block content %}<< CONTENT MARKER  >>{% endblock %}
                    </div>
                </div>
            </div>
        </div>
     {{ clank_client() }}

<script type="text/javascript">
$().ready(function(){
    var onlineContainer = $(".online ul");
    var keyDown         = false;
    var _currUserName   = '{% if app.user.name is defined %}{{ app.user.name}}{% endif %}';
    var sysmsgContainer = $('#sysmsg');

    var myClank = Clank.connect("ws://bungle.pr0xi.com:8080");
    
    myClank.on("socket/connect", function(session, test){
        bindUi(session);

        session.call("chat/user_register", _currUserName)
            .then(
                function(result){
                    console.log('OK');
                },
                function(error, desc){
                    console.log("RPC Error", error, desc);
                }
            );

        session.subscribe("mainchat", function(uri, payload){
            entity = JSON.parse(payload);
            $(".unstyled").append('<li><strong>'+ entity.user + "</strong>:  " + entity.message +'</li>');
            var ta = document.getElementById('chat-pane');
            ta.scrollTop = ta.scrollHeight;
            sysmsgContainer.html('');
        });

        session.subscribe("control", function(uri, payload){
            console.log("Received message", payload);
            reloadUsers(session);
            if(payload.type == 'newUser'){
                $(".unstyled").append("<li><strong><italic>System</itali></strong>:  " + payload.message +'</li>');
            } else if( payload.type == 'type' ){
                msgObj = $('<div>'+payload.message+' is typing</div>');
                sysmsgContainer.html(msgObj);
            }
        });
    });


    function bindUi(session){

        $(".chatEntry").bind("click", function(e){
            publishChat(session,$(".chat-input").val(), _currUserName)
            $(".chat-input").val("");
            keyDown = false;
        });

        $(".chat-input").keypress(function(e){
            if(!keyDown){
                var obj = {type : 'type', message: _currUserName};
                var payload = JSON.stringify(obj);
                session.publish("control",payload);
            }
            keyDown = true;
            if (e.keyCode == 13){
                publishChat(session,$(".chat-input").val(), _currUserName)
                $(".chat-input").val("");
                keyDown = false;
            }
        });

        setInterval(function(){
            reloadUsers(session);
        }, 5000);

    }

        function reloadUsers(session){
            session.call("chat/user_update")
                .then(
                    function(result){
                        onlineContainer.html('');
                        $.each(result.users, function(a,b){
                            onlineContainer.append('<li>'+b+'</li>');
                        })
                    }
                )
        }

        function publishChat(session, message, user){
            var obj = {message: message, user: user};
            var payload = JSON.stringify(obj);
            session.publish("mainchat",payload);

        }

    myClank.on("socket/disconnect", function(session){
        session.call("chat/user_remove", _currUserName)
            .then(
                function(result){
                    console.log("RPC Valid!", result);
                },
                function(error, desc){
                    console.log("RPC Error", error, desc);
                }
            );
        console.log("Disconnected for " + error.reason + " with code " + error.code);
    })
});
</script>
    </body>
</html>
