# File Managed by Puppet
xdebug.default_enable=<%= default_enable %>
xdebug.remote_enable=<%= remote_enable %>
xdebug.remote_handler=<%= remote_handler %>
xdebug.remote_host=<%= remote_host %>
xdebug.remote_port=<%= remote_port %>
xdebug.remote_autostart=<%= remote_autostart %>
xdebug.remote_connect_back=<%= $remote_connect_back %>
