{% block text_widget %}
{% spaceless %}
    <label>{{ label }}</label>
    <div class="rowright">
        <input type="text" id="{{ id }}" {% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %} value="{{ value }}" name="{{ full_name }}">
    </div>
{% endspaceless %}
{% endblock %}

{% block checkbox_widget %}
{% spaceless %}
    <label for="{{ id }}">{{ label }}</label>
    <div class="rowright">
        <div class="custom-checkbox">
            <input type="checkbox" id="{{ id }}" {% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %} value="{{ value }}" name="{{ full_name }}">
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block email_widget %}
{% spaceless %}
    <label>{{ label }}</label>
    <div class="rowright">
        <input type="email" id="{{ id }}" {% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %} value="{{ value }}" name="{{ full_name }}">
    </div>
{% endspaceless %}
{% endblock %}

{% block password_widget %}
{% spaceless %}
    <label>{{ label }}</label>
    <div class="rowright">
        <input type="password" id="{{ id }}" {% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %} name="{{ full_name }}">
    </div>
{% endspaceless %}
{% endblock %}

{% block document_widget %}
{% spaceless %}
    <label>{{ label }}</label>
    <div class="rowright">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block submit_widget %}
{% spaceless %}
    <button type="submit" class="medium grey" name="{{ name }}" value="{{ value }}"><span>{{ value }}"</span></button>
{% endspaceless %}
{% endblock %}

{% block form_label %}
    {% spaceless %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label>{{ label|trans({}, translation_domain) }}</label>
    {% endspaceless %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div class="row">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}