{% extends '::base.html.twig' %}

{% block title %}My Company{% endblock %}
{% block subnav %}<li class="active"><a href="{{ path('bungle_company_my_view') }}">My Company</a></li>{% endblock %}
{% block content %}
<div class="section">
    <div class="third">
        <div class="box">
            <div class="title"><h2>Company Address</h2><div class="hide"></div></div>
            <div class="content">
                {{app.user.company.name|capitalize }}<br>
                {{app.user.company.addressBuilding|capitalize }}<br>
                {{app.user.company.addressNo }}&nbsp;{{app.user.company.addressStreet }}<br>
                {{app.user.company.addressLine2 }}<br>
                {{app.user.company.addressState}}<br>
                {{app.user.company.addressPostcode }}<br>
                {{app.user.company.addressCountry }}<br>
                <button type="submit" class="green"><span><a style="color:#ffffff;text-decoration: none;" href="{{ path('bungle_company_my_edit') }}">EDIT</a></span></button>
            </div>
        </div>
    </div>
    <div class="third">
        <div class="box">
            <div class="title"><h2>Billing Address</h2><div class="hide"></div></div>
            <div class="content">
                {{app.user.company.name|capitalize }}<br>
                {{app.user.company.billingAddressBuilding|capitalize }}<br>
                {{app.user.company.billingAddressNo }}&nbsp;
                {{app.user.company.billingAddressStreet }}<br>
                {{app.user.company.billingAddressLine2 }}<br>
                {{app.user.company.billingAddressState}}<br>
                {{app.user.company.billingAddressPostcode }}<br>
                {{app.user.company.billingAddressCountry }}<br>
                <button type="submit" class="green"><span><a style="color:#ffffff;text-decoration: none;" href="{{ path('bungle_company_my_edit') }}">EDIT</a></span></button>
            </div>
        </div>
    </div>
    <div class="third">
        <div class="box">
            <div class="title"><h2>Organisational Users</h2><div class="hide"></div></div>
            <div class="content">
                CONTENT
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="box">
        <div class="title"><h2>SERVICE BREAKDOWN</h2><div class="hide"></div></div>
        <div class="content"></div>
    </div>
</div>
{% endblock %}