{% if is_granted(menu.role) %}
    <ul class="menu">
        {% for child in menu.subMenu %}
            {% if is_granted(child.role) %}
                <li>
                {%if child.subMenu|length == 1 and not child.url%}
                    {%set child = child.subMenu[(child.subMenu|keys).0] %}
                {% endif %}
                    {% include 'BungleCoreBundle:Menu:renderMenuItem.html.twig' with {'node' : child} %}    
                {% if not child.isZero %}
                    {% include 'BungleCoreBundle:Menu:menu.html.twig' with {'menu': child} %}
                {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>   
{% endif %}