{% extends '::base.html.twig' %}
{% block title %}User Administration ::  Edit User{% endblock %}
{% block subnav %}<li class="active"><a href="{{ path('bungle_user_admin') }}">User Administration</a></li>{% endblock %}
{% form_theme form 'BungleCoreBundle:Form:theme.html.twig' %}
{% block content %}
<form action="{{ path('bungle_user_admin_edit', {"username":username}) }}" {{ form_enctype(form) }} method="POST" id="UserForm" name="UserForm">   
<div class="box">
    <div class="title"><h2>Edit User: {{username}}</h2><div class="hide"></div></div>
    <div class="content">
        {{ form_widget(form) }}
        <div class="row">
            <button type="submit" class="medium green" name="submit" value="submit"><span>Submit</span></button>
        </div>
    </div>
</div>
</form>

{% endblock %}
