{% extends '::base.html.twig' %}

{% block title %}User Administration{% endblock %}
{% block subnav %}<li class="active"><a href="{{ path('bungle_user_admin') }}">User Administration</a></li>{% endblock %}
{% block content %}
    <div class="box">
        <div class="title"><h2>List Users</h2><div class="hide"></div></div>
        <div class="content">
            <table cellspacing="0" cellpadding="0" border="0" class="all"> 
                <thead> 
                    <tr> 
                        <th><input type="checkbox" name="check" class="checkall" /></th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Last Login</th>
                        <th>Roles</th>
                        <th></th>
                    </tr> 
		</thead> 
		<tbody> 
                    {% for user in results  %}
                   <tr> 
			<td><input type="checkbox" name="check" /></td>
                        <td>{{ user.username }}</td>
			<td><a href="{{ path('bungle_user_admin_edit', {"username":user.username}) }}">{{ user.name }}</a></td>
			<td>{{ user.companyName }}</td>
			<td><center>{{ user.lastLogin }}</center></td>
			<td><ul>{% for key,value in user.roles %}<li>{{value}}</li>{% endfor %}</ul></td>
			<td><a href="{{ path('bungle_user_admin_edit', {"username":user.username}) }}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody> 
            </table>
            <button type="submit" class="red"><span>DELETE</span></button>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}