/*
Template Name: GodZilla
Author: Rory Kranendonk
Author URI: http://www.dreamwire.nl
Version: 1.0
*/

/* //////////////////// LAYOUT \\\\\\\\\\\\\\\\\\\\ */

html,body {
	margin : 0;
	padding : 0;
    background : url(../gfx/background.gif) repeat left top #FFF;
    font : 12px/18px Arial;
	width : 100%;
    height : 100%;
}

img { border: 0; }

#wrapper {
	position : relative;
	margin : 0 auto;
	max-width : 90%; /* For a fixed layout change this to width : 980px; and delete the min-width */
	min-width : 980px;
	height:auto !important;
	height:100%;
	min-height:100%;
}

#left {
    width : 203px;
}

#left h1 {
	margin : 0;
	padding : 16px 0 14px 28px;
	font : 27px/1.0em 'MyriadProRegular', Arial;
	color : #000000;
	font-weight : normal;
	text-transform : uppercase;
}

#left h1 a, #left h1 a:link, #left h1 a:active, #left h1 a:visited{
	color : #000000;
	text-decoration : none;
}

#left h1 a:hover {
	color : #727272;
	text-decoration : none;
}

#left ul {
	display : block;
    margin : 0;
	padding : 0;
	list-style : none;
}

#left ul li {
	display : block;
	font : 13px/36px 'MyriadProRegular', Arial;
	color : #848484;
	text-transform : uppercase;
}

#left ul li a, #left ul li a:link, #left ul li a:active, #left ul li a:visited{
	display : block;
	background : url(../gfx/back-menu.png) no-repeat left top;
	outline : none;
	padding : 0 3px 0 28px;
	color : #848484;
	text-decoration : none;
	height : 34px;
}

#left ul li a:hover {
	background : url(../gfx/back-menu.png) no-repeat left bottom;
}

#left ul li.active a, #left ul li.active a:link, #left ul li.active a:active, #left ul li.active a:visited {
	background : url(../gfx/back-menu.png) no-repeat left bottom;
	color : #000000;
}

#left ul ul{
	display : block;
	background : url(../gfx/back-right.png) repeat-y right top;
	border-left : 1px solid #e5e5e5;
    margin : -2px 0 2px 1px;
	padding : 0;
	list-style : none;
	width : 181px;
}

#left ul li li{
	display : block;
	background : none;
	border-bottom : 1px solid #e5e5e5;
	font : 11px/1.0em Arial;
	color : #848484;
	text-transform : none;
	width : 179px;
	height : auto;
}

#left ul li li a, #left ul li li a:link, #left #left ul li li a:active, #left #left ul li li a:visited,
#left ul li.active ul li a, #left ul li.active ul li a:link, #left ul li.active li a:active, #left ul li.active li a:visited{
	display : block;
	background : none;
	padding : 9px 3px 9px 10px;
	color : #848484;
	text-decoration : none;
	width : 165px;
	height : auto;
}

#left ul li li a:hover,
#left ul li.active ul li a:hover {
	background : #f9f9f9;
	color : #000000;
}

#left ul li li.active a, #left ul li li.active a:link, #left ul li li.active a:active, #left ul li li.active a:visited {
	background : #f9f9f9;
	color : #000000;
}

#left ul ul ul{
	display : block;
	background : none;
	border-top : 1px solid #e5e5e5;
	border-left : 0;
    margin : 0;
	padding : 0;
	list-style : none;
	width : 181px;
}

#left ul li li li{
	display : block;
	background : none;
	border : 0;
	font : 11px/1.0em Arial;
	color : #848484;
	text-transform : none;
	width : 179px;
	height : auto;
}

#left ul li li li:last-child{
	border-bottom : 0;
}

#left ul li li li a, #left ul li li li a:link, #left #left ul li li li a:active, #left #left ul li li li a:visited,
#left ul li li.active li a, #left ul li li.active li a:link, #left ul li li.active li a:active, #left ul li li.active li a:visited{
	display : block;
	background : #f9f9f9;
	padding : 6px 3px 6px 20px;
	color : #848484;
	text-decoration : none;
	width : 155px;
	height : auto;
}

#left ul li li li a:hover,
#left ul li li.active li a:hover {
	color : #000000;
}

#left ul li li li.active a, #left ul li li  li.active a:link, #left ul li li li.active a:active, #left ul li li li.active a:visited {
	background : #f9f9f9;
	color : #000000;
}

#left #credits {
	display : block;
    margin : 13px 20px 0 0;
	padding : 0 0 13px 0;
	font-size : 11px;
	text-align : center;
	color : #949494;
}

#right {
	position : absolute;
	top : 0;
	left : 200px;
	background : url(../gfx/back-right.png) repeat-y right top;
	border-left : 1px solid #e5e5e5;
	padding : 0 3px 0 0;
	width : 79.4%;
	height:auto !important;
	height:100%;
	min-height:100%;
}

#right #top-bar {
	display : block;
	background : #1c1c1c;
	height : 30px;
}

#right #top-bar ul {
	float : right;
    margin : 0;
	padding : 0 10px 0;
	list-style : none;
	width : auto;
}

#right #top-bar ul li {
	float : left;
	position : relative;
	border-left : 1px solid #444444;
	padding : 8px 10px 8px;
	font : 11px/14px Arial;
	color : #cacaca;
	height : 14px;
}

#right #top-bar ul li:first-child {
	border-left : none;
}

#right #top-bar ul li img {
	float : left;
	padding : 2px 5px 0 0;
}

#right #top-bar ul li span {
	position : relative;
	background : #e00000;
	padding : 2px 4px 2px;
	margin : 0 0 0 3px;
	font : 11px/1.0em Arial;
	color : #FFFFFF;
	font-weight : bold;
}

#right #top-bar ul li a, #right #top-bar ul li a:link, #right #top-bar ul li a:active, #right #top-bar ul li a:visited {
	color : #cacaca;
	text-decoration : none;
}

#right #top-bar ul li a:hover {
	color : #807F7F;
	text-decoration : none;
}

#right #top-bar ul ul {
	position : absolute;
	top : 30px;
	left : 0;
	border-bottom : 1px solid #1c1c1c;
	display : none;
	z-index : 9999;
	padding : 0;
	margin : 0;
	list-style : none;
}


#right #top-bar ul li:hover ul {
	display : block;
}

#right #top-bar ul li li {
	display : block;
	background : #1c1c1c;
	border : none;
	border-top : 1px solid #444444;
	padding : 3px 10px;
	font : 11px/18px Arial;
	color : #cacaca;
	width : 150px;
	height : auto;
}

#right #top-bar ul li li a, #right #top-bar ul li li a:link, #right #top-bar ul li li a:active, #right #top-bar ul li li a:visited {
	display : block;
	color : #cacaca;
	text-decoration : none;
}

#right #top-bar ul li li a:hover {
	display : block;
	color : #807F7F;
	text-decoration : none;
}

#right #top-bar ul li li h4{
	padding : 0;
	font : 11px/18px Arial;
	font-weight : bold;
	color : #FFFFFF;
}

#right #breadcrumbs {
	display : block;
	position : relative;
	background : url(../gfx/back-breadcrumbs.gif) repeat-x left top;
	height : 29px;
}

#right #breadcrumbs ul {
    margin : 0;
	padding : 10px 20px 2px;
	list-style : none;
	height : 17px;
}

#right #breadcrumbs ul li {
	float : left;
	position : relative;
	border-left : 1px solid #d8d8d8;
	padding : 0 10px 0;
	font : 10px/1.0em 'MyriadProRegular', Arial;
	color : #bfbfbf;
	text-transform : uppercase;
}

#right #breadcrumbs ul li:first-child {
	border-left : none;
	padding : 0 10px 0 0;
}

#right #breadcrumbs ul li a, #right #breadcrumbs ul li a:link, #right #breadcrumbs ul li a:active, #right #breadcrumbs ul li a:visited {
	color : #bfbfbf;
	text-decoration : none;
}

#right #breadcrumbs ul li a:hover,
#right #breadcrumbs ul li.active a, #right #breadcrumbs ul li.active a:link, #right #breadcrumbs ul li.active a:active, #right #breadcrumbs ul li.active a:visited  {
	color : #807f7f;
	text-decoration : none;
}

#right #breadcrumbs #search {
	position : absolute;
	top : 1px;
	right : 20px;
}

#right #breadcrumbs #search input {
	float : left;
	border : 1px solid #E5E5E5;
	margin : 3px 0 0;
	padding : 2px 19px 1px 4px;
	font : 11px/15px Arial;
	color : #a9a9a9;
	width : 100px;
	height : 15px;
}

#right #breadcrumbs #search button {
	position : relative;
	background : url(../gfx/search.png) no-repeat left top;
	margin : 1px 0 0 -15px;
	width : 25px;
	height : 25px;
}

#right #main {
	display : block;
	overflow : hidden;
	padding : 0 20px 20px 0;
}

#right .section {
	float : left;
	width : 100%;
}

#right .quarter {
	float : left;
	width : 25%;
}

#right .half {
	float : left;
	width : 50%;
}

#right .third {
	float : left;
	width : 33.33%;
}

#right .three-quarter {
	float : left;
	width : 75%;
}

#right .box {
	display : block;
	-moz-box-shadow: 1px 1px 2px #f7f7f7;
	-webkit-box-shadow: 1px 1px 2px #f7f7f7;
	box-shadow: 1px 1px 2px #f7f7f7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#f7f7f7')";   
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#f7f7f7');  
	background : #FFFFFF;
	border : 1px solid #e5e5e5;
	margin : 20px 0 0 20px;
}

#right .box .title {
	display : block;  
	background : url(../gfx/back-title.gif) repeat-x left top;
	overflow : hidden;
	height : 31px;
}

#right .box .title h2 {
	float : left;
	background : url(../gfx/title-bullit.gif) no-repeat 9px center;
	margin : 0;
	padding : 0;
	font : 15px/2.0em 'MyriadProRegular', Arial;
	text-indent : 25px;
	text-transform : uppercase;
	font-weight : normal;
	word-spacing : 3px;
	height : 29px;
}

#right .box .title .hide{
	float : right;  
	background : url(../gfx/hide.gif) no-repeat left top;
	overflow : hidden;
	cursor : pointer;
	width : 32px;
	height : 29px;
}

#right .box .content {
	display : block;
	position : relative;
	padding : 20px;
}

#right .box .content.nopadding {
	padding : 0;
}

#right .box .content.gallery {
	text-align : center;
	padding : 15px 20px 18px 15px;
}

#right .box .content .thumb{
	display : inline-block;
	position : relative;
	background : #FFF;
	border : 1px solid #e5e5e5;
	margin : 5px 0 0 5px;
	overflow : hidden;
	text-align : center;
}

#right .box .content .thumb .hover{
	position : absolute;
	margin : 30px 0 0;
	z-index : 999;
	display : none;
	width : 100%;
	height : 50px;
}

#right .box .content .thumb:hover .hover{
	display : block;
}

#right .box .content .thumb:hover .hover img{
	border : none;
	opacity : 1.0;
	filter : alpha(opacity=100)
	width : 23px;
	height : 23px;
}

#right .box .content .thumb:hover .hover img:hover{
	opacity : 0.75;
	filter : alpha(opacity=75);
}

#right .box .content .thumb img{
	border : 1px solid #FFFFFF;
	height : 80px;
}

#right .box .content .thumb:hover img{
	opacity : 0.60;
	filter : alpha(opacity=60);
}

#right .box .content .progressbar-normal,
#right .box .content .progressbar-count {
	background : url(../gfx/progressbar-back.gif) repeat-x left top transparent;
	border-right : 1px solid #cccccc;
	border-left : 1px solid #5cadea;
	margin : 10px 0 7px;
	height : 10px;
}

#right .box .content .progressbar-normal div,
#right .box .content .progressbar-count div {
	display : block;
	background : url(../gfx/progressbar.gif) repeat-x left top transparent;
	border-right : 1px solid #5cadea;
	height: 100%;
}

#right .box .content span.percent {
	float : right;
	position : relative;
	top : -15px;
	font : 11px/1.0em Arial;
	font-weight : bold;
}

#right .box .content .icon{
	padding : 10px;
}

.ui-widget-overlay{
	position : absolute;
	top : 0;
	background: #1C1C1C;
	opacity : 0.5;
	filter : alpha(opacity=50);
}

.badge-wrapper{  
    float:left; /* important */  
    position:relative; 
    display: block;
}  
.badge-text{  
        position:absolute;  
        bottom:18px;
        left:65px;  
        /* styling below */   
        font-size:15px;  
        color:white;  
    }  
