/*
Template Name: GodZilla
Author: Rory Kranendonk
Author URI: http://www.dreamwire.nl
Version: 1.0
*/

.system {
	display : block;
	margin : 20px 0px 20px 20px;
	padding : 5px 10px 4px 33px;
	font : 12px/1.6em Arial;
}

.system:last-child {
	margin : 0;
}

.system.error {
	background : url(../gfx/icon-error.png) no-repeat 10px 7px #FCCAC1;
	border: 1px solid #E18B7C;
	color : #c33820;
}

.system.warning {
	background : url(../gfx/icon-warning.png) no-repeat 10px 7px #fce1c1;
	border: 1px solid #e1b37c;
	color : #c37820;
}

.system.info {
	background : url(../gfx/icon-info.png) no-repeat 10px 7px #c1dafc;
	border: 1px solid #7ca7e1;
	color : #2065c3;
}

.system.succes {
	background : url(../gfx/icon-succes.png) no-repeat 10px 7px #defcc1;
	border: 1px solid #aee17c;
	color : #62af17;
}