/*
Template Name: GodZilla
Author: Rory Kranendonk
Author URI: http://www.dreamwire.nl
Version: 1.0
*/

.accordion{
	display : block;
	overflow : hidden;
}

.accordion .ui-accordion-header  {
	display : block;
	background : url(../../../gfx/tabs.gif) repeat-x left top;
	border-bottom : 1px solid #E5E5E5;
	outline : none;
	padding : 0 20px;
	line-height : 29px;
	cursor : pointer;
}

.accordion .ui-accordion-headera, .accordion .ui-accordion-header a:link, .accordion .ui-accordion-header a:active, .accordion .ui-accordion-header a:visited  {
	color : #807F7F;
	text-decoration : none;
}

.accordion .ui-accordion-header.ui-state-active a, .accordion .ui-accordion-header.ui-state-active a:link, .accordion .ui-accordion-header.ui-state-active a:active, .accordion .ui-accordion-header.ui-state-active a:visited  {
	color : #1c1c1c;
	text-decoration : none;
}

.accordion .title span.ui-icon {
	float : left;
	background : url(../../../gfx/li.gif) no-repeat left center;
	margin : 0 10px 0 0;
	width : 5px;
	height : 29px;
}

.accordion .title span.ui-icon.ui-icon-triangle-1-s {
	background : url(../../../gfx/li-down.gif) no-repeat left center;
}

.accordion .ui-accordion-content{
	border-bottom : 1px solid #E5E5E5;
	padding : 15px 20px 20px;
}