/*
Template Name: GodZilla
Author: Rory Kranendonk
Author URI: http://www.dreamwire.nl
Version: 1.0
*/

#popup_container {
	background: #FFF;
	border: solid 2px #1c1c1c;
	min-width: 300px;
	max-width: 600px;
}

#popup_title {
	background : url(../../../gfx/back-title.gif) repeat-x left top;
	border: solid 1px #FFF;
	cursor: default;
	padding: 0em;
	margin: 0em;
	font : 15px/2.0em 'MyriadProRegular', Arial;
	text-align: center;
	text-transform : uppercase;
	font-weight : normal;
	word-spacing : 3px;
	height : 31px;
}

#popup_content {
	background: 16px 16px no-repeat url(../../../css/images/info.gif);
	padding: 20px;
	margin: 0em;
}

#popup_panel {
	text-align: center;
	height : 39px;
}

#popup_message {
	text-align : center;
}

#popup_message .rowright {
	margin : 0 12px 0 0;
}