/*
Template Name: GodZilla
Author: Rory Kranendonk
Author URI: http://www.dreamwire.nl
Version: 1.0
*/

#right .box .content .wizard {
	display : block;
}

#right .box .content .wizard .stepContainer {
	display : block;
	overflow : hidden;
}

#right .box .content .wizard .stepContainer div.content { 
	display : block;
	color : #5A5655;
}

#right .box .content .wizard ul.anchor {
	display : inline-block;
	background : url(../../../gfx/tabs.gif) repeat-x left top;
	margin : 0;
	padding : 0;
	list-style : none;
	width : 100%;
	height : 31px;
}

#right .box .content .wizard ul.anchor li{ 
	float : left;
	background : none;
	border-right : 1px solid #e5e5e5;
	padding : 0;
}

#right .box .content .wizard ul.anchor li a {
	float : left;
	padding : 1px 11px 0 11px;
	font : 12px/28px 'MyriadProRegular', Arial;
	color : #989898;
	text-decoration : none;
	outline : none;
}

#right .box .content .wizard ul.anchor li a.selected{
	background : #FFFFFF;
	color : #1c1c1c;
	font-weight : bold;
	text-decoration : none;
}

#right .box .content .wizard ul.anchor li a.done { 
	position : relative;
	background : #FFFFFF;
	color : #1c1c1c;
	text-decoration : none;
	z-index : 99;
}

#right .box .content .wizard ul.anchor li a.disabled {
	color : #989898;  
}

#right .box .content .wizard ul.anchor li a.error {
	color : #6c6c6c !important;    
}

#right .box .content .wizard ul.anchor li a.error:hover {
	color : #000 !important;       
}

#right .box .content .wizard .buttonDisabled {
	color : #1c1c1c  !important; 
	cursor : default; 	
}

#right .box .content .wizard .loader {
	position : relative;  
	display : none;     
	z-index : 998;
}

#right .box .content .wizard div.actionBar {
	display : block;
	background : url(../../../gfx/tabs.gif) repeat-x left bottom;
	padding : 5px 4px 0;
	height : 26px;
}

#right .box .content .wizard div.actionBar a.btn-next,
#right .box .content .wizard div.actionBar a.btn-prev,
#right .box .content .wizard div.actionBar a.btn-finish {
	float : right;
	background : #FFFFFF;
	border : 1px solid #E5E5E5;
	margin : 0 0 0 4px;
	padding : 4px 10px;
	font : 12px/1.0em 'MyriadProRegular', Arial;
	color : #1c1c1c;
	text-decoration : none;
}

#right .box .content .wizard div.actionBar a.btn-next:hover,
#right .box .content .wizard div.actionBar a.btn-prev:hover,
#right .box .content .wizard div.actionBar a.btn-finish:hover {
	border : 1px solid #C5C5C5;
}

#right .box .content .wizard div.actionBar a.buttonDisabled {
	color : #CCCCCC !important;
}

#right .box .content .wizard div.actionBar a.buttonDisabled:hover {
	border : 1px solid #E5E5E5;
}