/*
Template Name: GodZilla
Author: Rory Kranendonk
Author URI: http://www.dreamwire.nl
Version: 1.0
*/


/* file manager window */

#right .box .content .el-finder {
	width:100%; 
	min-width:400px;
	background-color:#eee;
}

#right .box .content .el-finder-undocked {
	position:absolute;
	min-width:400px;
	border:1px solid #E5E5E5;
	padding:5px;
}

/* error messages */
#right .box .content .el-finder-err {
	padding: 15px;
	text-align:center;
	background: #fee; 
	color: #cc0509; 
	border: 2px #844 solid;
}

/* disabled */
#right .box .content .el-finder-disabled .el-finder-toolbar li,
#right .box .content .el-finder-disabled .el-finder-nav,
#right .box .content .el-finder-disabled .el-finder-cwd { 
	opacity:0.35; filter:Alpha(Opacity=35);
}

#right .box .content .el-finder .el-finder-droppable {
	background-color:#99ccff;
}
#right .box .content .el-finder .ui-selected {
	background-color:#E5E5E5;
/*	background-color:#c5e4f9;*/
}

#right .box .content .el-finder input {
	margin:0;
	padding:0;
	outline:none;
	border:1px solid #E5E5E5;
}

/************************************/
/*             toolbar              */
/************************************/         

#right .box .content .el-finder-toolbar {
	display : block;
	background : url(../../../gfx/tabs.gif) repeat-x left top;
	margin : -1px 0 0;
	height : 31px;
}

#right .box .content .el-finder-toolbar ul {
	padding:3px 1px;
	margin:0;
	list-style:none;
}

#right .box .content .el-finder-toolbar ul li {
	display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
	vertical-align: top;
	cursor : pointer;
	height:22px; 
	width:23px;
	margin:0 2px;
	padding:0;
	background:url('../../../gfx/toolbar.png') no-repeat; 
}
#right .box .content .el-finder-toolbar ul li.delim { 
	border:none;
	width:3px;
	background-position: 1px -610px;
}

#right .box .content .el-finder-toolbar ul li.el-finder-tb-hover {
	opacity:0.35; filter:Alpha(Opacity=35);
}

#right .box .content .el-finder-toolbar ul li.disabled { opacity:0.35; filter:Alpha(Opacity=35); }

#right .box .content .el-finder-toolbar ul li.back       { background-position: 3px -171px; }
#right .box .content .el-finder-toolbar ul li.reload     { background-position: 3px -192px; }
#right .box .content .el-finder-toolbar ul li.select     { background-position: 3px -214px; }
#right .box .content .el-finder-toolbar ul li.open       { background-position: 4px -235px; }
#right .box .content .el-finder-toolbar ul li.mkdir      { background-position: 4px -258px; }
#right .box .content .el-finder-toolbar ul li.mkfile     { background-position: 4px -280px; }
#right .box .content .el-finder-toolbar ul li.upload     { background-position: 3px -305px; }
#right .box .content .el-finder-toolbar ul li.rm         { background-position: 3px -330px; }
#right .box .content .el-finder-toolbar ul li.copy       { background-position: 3px -356px; }
#right .box .content .el-finder-toolbar ul li.paste      { background-position: 3px -381px; }
#right .box .content .el-finder-toolbar ul li.rename     { background-position: 3px -407px; }
#right .box .content .el-finder-toolbar ul li.edit       { background-position: 4px -435px; }
#right .box .content .el-finder-toolbar ul li.info       { background-position: 3px -462px; }
#right .box .content .el-finder-toolbar ul li.help       { background-position: 3px -487px; }
#right .box .content .el-finder-toolbar ul li.icons      { background-position: 3px -537px; }
#right .box .content .el-finder-toolbar ul li.list       { background-position: 3px -557px; }
#right .box .content .el-finder-toolbar ul li.uncompress { background-position: 3px -583px; }
#right .box .content .el-finder-toolbar ul li.resize     { background-position: 3px -656px; }
#right .box .content .el-finder-toolbar ul li.quicklook  { background-position: 3px -726px; }

#right .box .content .el-finder-dock-button {
	width:19px;
	height:19px;
	float:right;
	margin: 2px;
	border:1px solid #E5E5E5;
	background:url('../../../gfx/toolbar.png') 2px -705px no-repeat; 
}

#right .box .content .ui-dialog .el-finder-dock-button {
	background-position:2px -681px;
}

#right .box .content .el-finder-dock-button-hover {
	background-color:#E5E5E5;
	border:1px solid #fff;
}

/**********************************************************/
/*  workzone, container for navigation and current folder */
/**********************************************************/

#right .box .content .el-finder-workzone {
	background-color:#fff;
	border-bottom:1px solid #E5E5E5;
	position:relative;
	margin : -1px 0 0;
}

#right .box .content .el-finder-spinner {
	position:absolute;
	top:37%;
	left:37%;
	width:250px;
	height:50px;
	background:transparent url(../../../gfx/spinner.gif) 50% 50% no-repeat;
	display:none;
}

/* error in workzone */
#right .box .content .el-finder-workzone p.el-finder-err {
	display:none;
	position:absolute;
	left:37%;
	top:20px;
}

/* navigation and current directory */
#right .box .content .el-finder-nav, .el-finder-cwd {
	height:350px;
	overflow:auto;
}

/************************************/
/*             navigation           */
/************************************/

#right .box .content .el-finder-nav {
	float:left;
	width : 200px;
	background:#fff;
}

#right .box .content .el-finder-nav .ui-resizable-e {
	right:0;
}

/* folders tree */
#right .box .content .el-finder-nav ul {
	list-style:none;
	margin:0;
	padding:0;
}

#right .box .content .el-finder-nav ul li {
	clear:both;
}

#right .box .content ul.el-finder-tree {
	padding : 0;
	font-size : 11px;
}
#right .box .content ul.el-finder-places {
	padding : 10px 0 8px;
	font-size : 11px;
}

#right .box .content ul.el-finder-tree li {
	padding : 0
}

#right .box .content .el-finder-nav ul li ul {
	margin-left:12px;
}

#right .box .content .el-finder-nav ul div {
	width:12px;
	height:20px;
	float:left;
	margin-right:23px;
}

#right .box .content .el-finder-nav  a, #right .box .content .el-finder-nav  div.collapsed {
	background-image:url(../../../gfx/toolbar.png);
	background-repeat:no-repeat;
}
#right .box .content .el-finder-nav  div.collapsed {
	background-position: -1px 7px;
}
#right .box .content .el-finder-nav div.expanded {
	background-position: -1px -9px;
}

#right .box .content .el-finder-nav a {
	display: block;
	white-space:nowrap;
	line-height:20px;
	color:#444;
	cursor:default;
	text-decoration:none;
	outline:none;
	background-position: 15px -56px;
}

#right .box .content .el-finder-nav a.dropbox {
	background-position: 15px -80px; 
}
#right .box .content .el-finder-nav a.readonly {
	background-position: 15px -104px; 
}
#right .box .content .el-finder-nav a.noaccess {
	background-position: 15px -750px; 
}

#right .box .content .el-finder-nav a.selected {
/*	background-color:#E5E5E5;*/
	background-color:#F9F9F9;
	background-position: 15px -128px;
}

#right .box .content .el-finder-nav a.el-finder-tree-root { 
	background-position: 15px -30px; 
	font-weight:bold;
}

#right .box .content .el-finder-nav a.el-finder-places-root {
	background-position: 15px -152px; 
	font-weight:bold;
}

#right .box .content .el-finder-nav ul.el-finder-tree .el-finder-droppable {
	background-position: 15px -237px; 
}


/***********************************/
/*     current working directory    */
/************************************/

#right .box .content .el-finder-cwd {
	border-left:1px solid #E5E5E5;
	padding:0;
}

/********** view: icons  ************/
#right .box .content .el-finder-cwd div {
	width: 81px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	margin:0 3px 3px 0;
	padding:1px 0;
	text-align:center;
	color:#000;
	background-color:transparent;
}


#right .box .content .el-finder-cwd p, 
#right .box .content .el-finder-ql p {
	width:48px;
	height:48px;
	margin:1px auto;
	padding:0;
	background: url('../../../gfx/icons-big.png') -1px 1px no-repeat;
}

/* mimetypes */

#right .box .content .directory p { background-position:  0     -50px; }
#right .box .content .application p, #right .box .content .x-java p { background-position: -1px  -150px; }
#right .box .content .audio p { background-position: -1px -300px; }
#right .box .content .image p { background-position: -1px -250px;  }
#right .box .content .text p, #right .box .content .x-empty p { background-position: -1px  -200px; }
#right .box .content .video p  { background-position: -1px -350px; }
#right .box .content .vnd-adobe-photoshop p, #right .box .content .postscript p    { background-position: 0 -250px; }
/* texts */
#right .box .content .rtf p, #right .box .content .rtfd p { background-position: 0 -400px; }
#right .box .content .html p { background-position: 0 -550px; }
#right .box .content .css p { background-position: 0 -600px; }
#right .box .content .javascript p, #right .box .content .x-javascript p  { background-position: 0 -650px; }
#right .box .content .x-perl p { background-position: 0 -700px; }
#right .box .content .x-python p { background-position: 0 -750px; }
#right .box .content .x-ruby p { background-position: 0 -800px; }
#right .box .content .x-sh p, #right .box .content .x-shellscript p { background-position: 0 -850px; }
#right .box .content .x-c p, #right .box .content .x-java-source p { background-position: 0 -900px; }
#right .box .content .x-php p  { background-position: 0 -950px; }
#right .box .content .xml p           { background-position: 0 -1000px; }
/* applications */
#right .box .content .vnd-ms-office p, 
#right .box .content .msword p, 
#right .box .content .vnd-ms-word p, 
#right .box .content .vnd-oasis-opendocument-text p,
#right .box .content .ms-excel p,
#right .box .content .vnd-ms-excel p,
#right .box .content .vnd-oasis-opendocument-spreadsheet p,
#right .box .content .vnd-ms-powerpoint p,
#right .box .content .vnd-oasis-opendocument-presentation p { background-position: 0 -500px; }
#right .box .content .pdf p { background-position: 0 -450px; }
#right .box .content .x-shockwave-flash p { background-position: 0 -1250px; }
/* archives */
#right .box .content .zip p, #right .box .content .x-7z-compressed p { background-position: 0 -1050px; }
#right .box .content .x-gzip p, #right .box .content .x-tar p  { background-position: 0 -1100px; }
#right .box .content .x-bzip p, #right .box .content .x-bzip2 p { background-position: 0 -1150px; }
#right .box .content .x-rar p, #right .box .content .x-rar-compressed p { background-position: 0 -1200px; }


#right .box .content .el-finder-cwd div.el-finder-droppable p {
	background-position: 0 -98px;
}

#right .box .content .el-finder-cwd label {
	float : none;
	display:block;
	font-size:11px;
	line-height:13px;
	padding:0 1px;
	margin:0;
	height:25px;
	overflow:hidden;
	cursor:default;
	width : auto;
}

#right .box .content .el-finder-cwd div input { 
	background:#fff; 
	color:#000;
	width:81px;
	margin-left:-2px; 
	outline:none; 
	border:1px solid #E5E5E5;
	text-align:center;
}

#right .box .content .el-finder-cwd div em {
	float:left;
	margin-top:-40px;
	margin-left:9px;
	width:15px;
	height:16px;
	background:url(../../../gfx/icons-big.png) -17px -1310px no-repeat;
}

#right .box .content .el-finder-cwd div em.dropbox {
	float:right;
	margin-right:9px;
	background-position: 0 -1308px;
}
#right .box .content .el-finder-cwd div em.noread {
	float:right;
	margin-right:9px;
	background-position: 0 -1310px;
}
#right .box .content .el-finder-cwd div em.readonly {
	float:right;
	margin-right:9px;
	background-position: -34px -1306px;
}

#right .box .content .el-finder-cwd div em.noaccess {
	float:right;
	margin-right:9px;
	background-position: 0 -1430px;
}

/********** view: list  ************/

#right .box .content .el-finder-cwd table {
	width:100%;
/*	*width:99%;*/
	border-collapse: collapse;	
	border-spacing: 0;
}

#right .box .content .el-finder-cwd table tr {
	background:transparent;
}

#right .box .content .el-finder-cwd table tr.el-finder-row-odd {
	background-color:#eee;
}

#right .box .content .el-finder-cwd table tr.ui-selected {
	background-color:#E5E5E5;
}

#right .box .content .el-finder-cwd table th,
#right .box .content .el-finder-cwd table td {
	padding : 5px;
	cursor : default;
	white-space:nowrap;
	border : 0;
}

#right .box .content .el-finder-cwd table th {
	text-align:left;
	background:#fbf9ee;
	font-size:.86em;
}

#right .box .content .el-finder-cwd table td.icon {
	width:24px;
}

#right .box .content .el-finder-cwd table  p {
	width:24px;
	height:16px;
	margin:0;
	padding:0;
	background:url(../../../gfx/icons-small.png) 4px 0 no-repeat;
}

#right .box .content .el-finder-cwd table .size {
	text-align:right;
}

#right .box .content tr.directory   p { background-position:4px  -16px; }
#right .box .content tr.text        p { background-position:5px  -34px; }
#right .box .content tr.image       p { background-position:4px  -51px; }
#right .box .content tr.audio       p { background-position:4px  -70px; }
#right .box .content tr.video       p { background-position:5px  -89px; }
#right .box .content tr.application p { background-position:4px -108px; }
/* text */
#right .box .content tr.html          p  { background-position:5px  -188px; }
#right .box .content tr.javascript    p,
#right .box .content tr.x-javascript  p,
#right .box .content tr.css   		 p,
#right .box .content tr.x-sql   		 p,
#right .box .content tr.xml   		 p,
#right .box .content tr.x-python   	 p,
#right .box .content tr.x-java-source p,
#right .box .content tr.x-perl        p,
#right .box .content tr.x-ruby        p  { background-position:5px  -228px; }
#right .box .content tr.x-php         p  { background-position:5px  -247px; }
#right .box .content tr.x-c           p  { background-position:5px  -208px; }
#right .box .content tr.x-shellscript p, 
#right .box .content tr.x-sh          p  { background-position:5px  -168px; }
#right .box .content tr.rtf p, #right .box .content tr.rtfd p { background-position:5px  -148px; }
/* application */
#right .box .content tr.x-shockwave-flash p { background-position:4px  -266px; }
#right .box .content tr.pdf               p { background-position:4px  -285px; }
#right .box .content tr.vnd-ms-office     p { background-position:4px  -325px; }
#right .box .content tr.msword p,
#right .box .content tr.vnd-oasis-opendocument-text  p,
#right .box .content tr.vnd-ms-word p { background-position:4px -346px; }
#right .box .content tr.vnd-ms-excel p,
#right .box .content tr.ms-excel p,
#right .box .content tr.vnd-oasis-opendocument-spreadsheet { background-position:4px -365px; }
#right .box .content tr.vnd-ms-powerpoint p,
#right .box .content tr.vnd-oasis-opendocument-presentation { background-position:4px -385px; }
/* archives */
#right .box .content tr.x-tar   p,
#right .box .content tr.x-gzip  p,
#right .box .content tr.x-bzip  p,
#right .box .content tr.x-bzip2 p,
#right .box .content tr.zip     p,
#right .box .content tr.x-rar   p,
#right .box .content tr.x-rar-compressed p,
#right .box .content tr.x-7z-compressed  p { background-position:4px -305px; }

#right .box .content tr.el-finder-droppable td.icon  p { background-position:5px -450px; }

#right .box .content .el-finder-cwd table td p em {
	float:left;
	width:10px;
	height:12px;
	margin-top:5px;
	background:url(../../../gfx/icons-small.png) 0px -405px no-repeat;
}

#right .box .content .el-finder-cwd table p em.readonly { background-position:0px -433px; }
#right .box .content .el-finder-cwd table p em.dropbox  { background-position:0px -418px; }
#right .box .content .el-finder-cwd table p em.noread, 
#right .box .content .el-finder-cwd table p em.noaccess { background-position:0px -470px; }

/************************************/
/*              statusbar           */
/************************************/

#right .box .content .el-finder-statusbar {
	height:25px;
}

#right .box .content .el-finder-stat,
#right .box .content .el-finder-path,
#right .box .content .el-finder-sel {
	padding:3px 9px 1px 9px;
	font-size:11px;
	color:#555;
}
/* current directory path */
#right .box .content .el-finder-path {
	float:left;
}
/* number folders/files in current directory and size */
#right .box .content .el-finder-stat {
	float:right;
}
/* info about selected files */
#right .box .content .el-finder-sel {
	text-align:center;
}

/************************************/
/*           dialog window          */
/************************************/
.el-finder-dialog form p, .el-finder-dialog .ui-tabs p {
	margin:.5em;
}

.el-finder-dialog .ui-dialog-buttonpane {
	display : block;
	border-top: 1px solid #E5E5E5;
	padding : 5px 10px;
}

.el-finder-dialog .ui-dialog-buttonpane button{
	margin : 0 3px 0 0;
	background : url(../../../gfx/btn-small.gif) no-repeat left 0 transparent;
}

.el-finder-dialog .ui-dialog-buttonpane button span{
	background : url(../../../gfx/btn-small.gif) no-repeat right 0 transparent;
	color : #1c1c1c;
}

.el-finder-dialog .ui-dialog-content {
	padding: 5px 3px;
}

.el-finder-dialog hr {
	border:0;
	border-bottom: 1px #E5E5E5 solid;
	clear:both
}
.el-finder-dialog ul {
	margin-top:0;
}

.el-finder-dialog kbd { font-size:1.2em;}
.el-finder-dialog a { outline: none;}

.el-finder-dialog textarea { 
	width:98.9%;
	height:400px;
	outline:none;
	border:1px solid #E5E5E5;
}

.ui-state-error {
	margin: 5px 0; 
	padding:.5em;
	clear:both;
}

.el-finder-dialog .ui-state-error .ui-icon {
	float: left; 
	margin-right: .3em;
}

.el-finder-add-field {
	cursor:pointer;
}

.el-finder-add-field span {
	float:left;
	margin-right:.7em;
}

.el-finder-dialog table {
	width : 100%;
}

.el-finder-dialog table td {
	border : 0;
}

.el-finder-dialog .ui-tabs { 
	font-size:.98em;
}

.el-finder-dialog .ui-tabs div {
	padding:0 .5em;
}
.el-finder-dialog .ui-tabs-nav li a {
	padding:.2em 1em;
}

/************************************/
/*            contextmenu           */
/************************************/

.el-finder-contextmenu { 
	position:absolute;
	width:200px;
	background:#fff; 
	color:#000;
	cursor:default; 
	border:1px solid #E5E5E5;  
	padding:0;
	
}

.el-finder-contextmenu div { 
	position:relative;
	display:block;
	margin:0;
	padding:4px 29px 4px 29px;
	white-space:nowrap;
	background:url('../../../gfx/toolbar.png') 0 0 no-repeat;
}

.el-finder-contextmenu  span {
	float:right;
	width:9px;
	height:18px;
	margin-right:-27px;
	background:url(../../../gfx/toolbar.png) -4px 5px no-repeat;
}

.el-finder-contextmenu  div.el-finder-contextmenu-sub {
	position:absolute;
	top:0;
	display:none;
	margin:0;
	padding: 0;
	background:#fff; 
	border:1px solid #E5E5E5;  
}

.el-finder-contextmenu div.reload     { background-position: 5px -192px; }
.el-finder-contextmenu div.select     { background-position: 5px -214px; }
.el-finder-contextmenu div.open       { background-position: 6px -235px; }
.el-finder-contextmenu div.mkdir      { background-position: 6px -258px; }
.el-finder-contextmenu div.mkfile     { background-position: 6px -280px; }
.el-finder-contextmenu div.upload     { background-position: 5px -305px; }
.el-finder-contextmenu div.rm         { background-position: 5px -330px; }
.el-finder-contextmenu div.copy       { background-position: 5px -356px; }
.el-finder-contextmenu div.cut        { background-position: 5px -631px; }
.el-finder-contextmenu div.duplicate  { background-position: 5px -356px; }
.el-finder-contextmenu div.paste      { background-position: 5px -381px; }
.el-finder-contextmenu div.rename     { background-position: 5px -407px; }
.el-finder-contextmenu div.edit       { background-position: 6px -435px; }
.el-finder-contextmenu div.info       { background-position: 5px -462px; }
.el-finder-contextmenu div.help       { background-position: 5px -487px; }
.el-finder-contextmenu div.icons      { background-position: 5px -537px; }
.el-finder-contextmenu div.list       { background-position: 5px -557px; }
.el-finder-contextmenu div.archive    { background-position: 5px -583px; }
.el-finder-contextmenu div.extract    { background-position: 5px -583px; }
.el-finder-contextmenu div.resize     { background-position: 5px -655px; }
.el-finder-contextmenu div.quicklook  { background-position: 5px -727px; }

.el-finder-contextmenu div.delim { 
	margin:0; 
	padding:0; 
	height:1px; 
	border-top:1px solid #eee; 
	background:transparent; 
	display:block;
}
.el-finder-contextmenu div.hover { background-color:#99ccff; }

.el-finder-places {
	margin-top:.5em;
}


.el-finder-drag-helper {
	padding:0;
	cursor:move;
	zoom:1;
}

.el-finder-drag-helper div {
	border:0 solid;
	margin-left:-57px;
	
}

.el-finder-drag-copy {
	background:url('../../../gfx/toolbar.png') 0 -771px no-repeat;
}

.el-finder-drag-helper label { 
	border:1px solid #E5E5E5; 
	background-color:#eee;
}


/************************************/
/*             QuickLook            */
/************************************/

.el-finder-ql {
	position:absolute;
	width:420px;
	height:auto;
	padding:12px 9px;
	text-align:center;
	background:url(../../../gfx/ql.png);
	overflow: inherit !important;
}
.el-finder-ql.directory p { background-position:  0     -50px; }

/* toolbar */
.el-finder-ql div.el-finder-ql-drag-handle {
	height:18px;
	font-size:14px;
	background-color:#777;
	margin:-12px -9px 12px -9px;
	padding:3px 0 0 19px;
	opacity:.8;
	text-align:center;
	white-space: nowrap;
	overflow:hidden;
}
/* close button */
.el-finder-ql div.el-finder-ql-drag-handle span {
	float:left;
	margin:0 19px 0 -15px;
}
/* title in tolbar */
.el-finder-ql div.el-finder-ql-drag-handle strong {
	line-height:18px;
	margin-left:-17px;
	color:#fff;
}

.el-finder-ql div.el-finder-ql-media {
	width:100%;
	padding:0;
}

.el-finder-ql div.el-finder-ql-content {
	width:100%;
	font:.82em/1.3em trebuchet ms,lucida grande,verdana,sans-serif;
	padding:5px 0;
	overflow:hidden;
}

.el-finder-ql div.el-finder-ql-content span,
.el-finder-ql div.el-finder-ql-content a {
	display:block;
	color: #fff;
}

/* text files preview */
.el-finder-ql iframe {
	background:#fff;
	width:100%;
	height:315px;
	padding:0;
	margin:0;
	border:none;
	outline:none;
}


/* gfx preview */
.el-finder-ql img {
	margin:0 auto;
	border:1px solid #fff;
}

/* button help */
.el-finder-help-std {
	background: url(../../../gfx/icons-big.png) 0 -1380px no-repeat;
	width:48px;
	height:48px;
	float:right;
}

.el-finder-logo {
	background: url(../../../gfx/icons-big.png) 0 -1329px no-repeat;
	width:48px;
	height:48px;
	float:left;
}

.el-finder-ql .ui-resizable-e, .el-finder-ql .ui-resizable-s { background:transparent !important;}


/************************************/
/*               Tabs               */
/************************************/

.ui-dialog-content.ui-tabs {
	display : block;
	margin : 0;
	padding : 0;
}

.ui-dialog-content.ui-tabs ul.ui-tabs-nav {
	display : inline-block;
	background : url(../../../gfx/tabs.gif) repeat-x left top;
	margin : -1px 0 0;
	padding : 0;
	list-style : none;
	width : 100%;
	height : 31px;
}

.ui-dialog-content.ui-tabs ul.ui-tabs-nav li {
	float : left;
	background : none;
	border-right : 1px solid #e5e5e5;
	padding : 0;
}

.ui-dialog-content.ui-tabs ul.ui-tabs-nav li  a {
	float : left;
	padding : 1px 15px 0 15px;
	font : 12px/28px 'MyriadProRegular', Arial;
	color : #807f7f;
	text-decoration : none;
	outline : none;
}

.ui-dialog-content.ui-tabs ul.ui-tabs-nav li  a:hover, .ui-dialog-content.ui-tabs ul.ui-tabs-nav li a:active, .ui-dialog-content.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected a {
	background : #FFFFFF;
	color : #1c1c1c;
	text-decoration : none;
}

.ui-dialog-content.ui-tabs .ui-tabs-panel {
	display : block;
	padding : 20px;
}

.ui-dialog-content.ui-tabs .ui-tabs-hide {
	display : none;
}