/*
Template Name: GodZilla
Author: Rory Kranendonk
Author URI: http://www.dreamwire.nl
Version: 1.0
*/

.wysiwyg{
	display : block;
	border-top : 1px solid #C3D0E1;
	padding : 10px 0;
}

textarea.wysiwyg { 
	display : block;
	padding : 0;
	margin : 0;
	overflow : hidden;
	width : 100%;
	height : 200px;
}

div.wysiwyg { 
	display : inline-block;
	background-color : #FFFFFF; 
	border : 1px solid #C3D0E1;
	padding : 0;
	margin : 4px 0 0;
	font-size : 0;
	line-height : 0;
	width : 100%;
}

div.wysiwyg iframe { 
	background-color : #FFFFFF;
	padding : 0;
	margin : 0;
}

div.wysiwyg ul { 
	background-color : #F2F4F7; 
	margin : 0;
	padding : 0;
	list-style-type : none;
}

div.wysiwyg ul li { 
	margin : 0;
	padding : 0;
}

div.wysiwyg ul.toolbar li.jwysiwyg-custom-command {
	overflow : hidden;
}

div.wysiwyg ul.toolbar { 
	float : left;
	border-bottom : 1px solid #C3D0E1;
	padding : 8px 0;
	width : 100%; 
}

div.wysiwyg ul.toolbar li {
	float : left;
}

div.wysiwyg ul.toolbar li.separator {
	border-left : 1px solid #C3D0E1;
	margin : 0 0 0 4px;
	width : 1px;
	height : 16px;
}

div.wysiwyg ul.toolbar li { 
	display : block; 
	background : url('../../../gfx/jquery.wysiwyg.gif') no-repeat -64px -80px; 
	margin : 0 0 0 6px;
	opacity : 0.7; 
	filter : alpha(opacity=70); 
	cursor : pointer; 
	text-indent : -5000px; 
	width : 16px; 
	height : 16px; 
}

div.wysiwyg ul.toolbar li.wysiwyg-button-hover, div.wysiwyg ul.toolbar li.active { 
	opacity : 1.0;
	filter : alpha(opacity=100);
}

div.wysiwyg ul.toolbar li.bold {background-position : 0 -16px;}
div.wysiwyg ul.toolbar li.italic {background-position : -16px -16px;}
div.wysiwyg ul.toolbar li.strikeThrough {background-position : -32px -16px;}
div.wysiwyg ul.toolbar li.underline {background-position : -48px -16px;}

div.wysiwyg ul.toolbar li.justifyLeft {background-position : 0 0;}
div.wysiwyg ul.toolbar li.justifyCenter {background-position : -16px 0;}
div.wysiwyg ul.toolbar li.justifyRight {background-position : -32px 0;}
div.wysiwyg ul.toolbar li.justifyFull {background-position : -48px 0;}

div.wysiwyg ul.toolbar li.indent {background-position : -64px 0;}
div.wysiwyg ul.toolbar li.outdent {Background-position : -80px 0;}

div.wysiwyg ul.toolbar li.subscript {background-position : -64px -16px;}
div.wysiwyg ul.toolbar li.superscript {background-position : -80px -16px;}

div.wysiwyg ul.toolbar li.undo {background-position : 0 -64px;}
div.wysiwyg ul.toolbar li.redo {background-position : -16px -64px;}

div.wysiwyg ul.toolbar li.insertOrderedList {background-position : -32px -48px;}
div.wysiwyg ul.toolbar li.insertUnorderedList {background-position : -16px -48px;}
div.wysiwyg ul.toolbar li.insertHorizontalRule {background-position : 0 -48px;}

div.wysiwyg ul.toolbar li.h1 {background-position : 0 -32px;}
div.wysiwyg ul.toolbar li.h2 {background-position : -16px -32px;}
div.wysiwyg ul.toolbar li.h3 {background-position : -32px -32px;}
div.wysiwyg ul.toolbar li.h4 {background-position : -48px -32px;}
div.wysiwyg ul.toolbar li.h5 {background-position : -64px -32px;}
div.wysiwyg ul.toolbar li.h6 {background-position : -80px -32px;}

div.wysiwyg ul.toolbar li.paragraph {background-position : 0px -96px;}
div.wysiwyg ul.toolbar li.colorpicker {background-position : -16px -96px;}
div.wysiwyg ul.toolbar li.fullscreen {background-position : -32px -96px;}

div.wysiwyg ul.toolbar li.cut {background-position : -32px -64px;}
div.wysiwyg ul.toolbar li.copy {background-position : -48px -64px;}
div.wysiwyg ul.toolbar li.paste {background-position : -64px -64px;}
div.wysiwyg ul.toolbar li.insertTable {background-position : -64px -48px;}

div.wysiwyg ul.toolbar li.increaseFontSize {background-position : -16px -80px;}
div.wysiwyg ul.toolbar li.decreaseFontSize {background-position : -32px -80px;}

div.wysiwyg ul.toolbar li.createLink {background-position : -80px -48px;}
div.wysiwyg ul.toolbar li.insertImage {background-position : -80px -80px;}

div.wysiwyg ul.toolbar li.html {background-position : -47px -46px;}
div.wysiwyg ul.toolbar li.removeFormat {background-position : -80px -63px;}

div.wysiwyg ul.toolbar li.empty {background-position : -64px -80px;}

/* dialog */
.wysiwyg-dialog { position : fixed; top : 50px; left : 50px; width : 354px; background : transparent; font : 12px Arial; }
.wysiwyg-dialog .wysiwyg-dialog-topbar { background : url(../../../gfx/table-thead.gif) repeat-x right top; border : 1px solid #d2dce9; padding : 0 8px; color : #002e68; line-height : 29px; font-size:12px; font-weight:bold; height : 29px; position:relative; }
.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-close-wrapper .wysiwyg-dialog-close-button { color:#002e68; text-decoration:none; display:block; line-height : normal; padding: 3px 5px; position:absolute; right:8px; top: 4px; }
.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-close-wrapper a.wysiwyg-dialog-close-button:hover { background:#002e68; color : #FFFFFF; }
.wysiwyg-dialog .wysiwyg-dialog-content { border : 1px solid #d2dce9; border-top:0; padding:15px; background:white; }
.wysiwyg-dialog-modal-div { position:absolute; z-index : 99999;}
.wysiwyg-dialog-content form.wysiwyg select { display : block; }