/*
Template Name: GodZilla
Author: Rory Kranendonk
Author URI: http://www.dreamwire.nl
Version: 1.0
*/

table {
	width : 100%;
}

table, td, tr, th {
	padding : 0;
	margin : 0;
	border-collapse : collapse;
	text-align : left;
}

table thead tr th, table tfoot tr th {
	color : #1c1c1c;
}

table thead {
	background : url(../../../gfx/back-title.gif) repeat-x right top;
	border-right : none;
}

table thead tr th{
	border : 1px solid #e5e5e5;
	border-bottom : none;
	padding : 8px 8px 10px;
	line-height : 1.0em;
}

table thead tr th.header {
	border : 1px solid #e5e5e5;
	background-color : transparent
}

table tbody td {
	border : 1px solid #e5e5e5;
	border-top : none;
	padding : 7px 8px;
	line-height : 1.0em;
}

table tbody tr.even td {
	background-color : #fbfbfb;
}

table thead tr th.sorting {
	background : url(../../../gfx/table-sort.gif) no-repeat right 9px;
}

table thead tr th.sorting_asc {
	background : url(../../../gfx/table-sort.gif) no-repeat right -19px;
}

table thead tr th.sorting_desc {
	background : url(../../../gfx/table-sort.gif) no-repeat right -51px;
}

table.all td:first-child,
table.pagesort td:first-child,
table.sortsearch td:first-child,
table.sorting td:first-child{
    width : 13px;
}

table.all td:first-child + td + td + td + td + td,
table.pagesort td:first-child + td + td + td + td + td,
table.sortsearch td:first-child + td + td + td + td + td,
table.sorting td:first-child + td + td + td + td + td {
	padding : 0;
    text-align : center;
    line-height : 0;
    width : 65px;
}

.dataTables_wrapper {
	display : block;
}

.dataTables_wrapper div {
	float : right;
	width : 70%;
}

.dataTables_wrapper label {
	float : none;
	padding : 0;
	margin : 0;
	width : auto;
	height : auto;
}

.dataTables_wrapper .dataTables_length {
	float : right;
	display : inline-block;
	margin : 0 0 0 2px;
	width : 60px;
}

.dataTables_wrapper .dataTables_info {
	margin: 14px 0 0;
	font: 11px/1.0em Arial;
	width: auto;
}

.dataTables_wrapper .dataTables_length .ui-selectmenu {
	float : right;
	display : inline-block;
	position : relative;
	background : url(../../../gfx/table.gif) no-repeat right -115px transparent;
	border : 0;
	padding : 6px 21px 0 1px;
	margin : 8px 0 0 0;
	color : #807f7f;
	font-weight : bold;
	font : 11px/1.0em Arial;
	text-align : center;
	text-decoration : none;
	width : 33px;
	height : 17px;
}

.dataTables_wrapper .dataTables_length .ui-selectmenu-menu.entries {
	margin : 5px 0 0 4px;
	width : 46px;
}

.dataTables_wrapper .dataTables_length .ui-selectmenu-status {
	font : 11px/1.0em Arial;
}

.dataTables_wrapper .dataTables_length  .ui-selectmenu-menu.entries li a{
	padding : 6px;
	font : 11px/1.0em Arial;
	text-decoration : none;
}

.dataTables_wrapper  .dataTables_filter {
	position : absolute;
	top : -36px;
	right : 34px;
}

.dataTables_wrapper  .dataTables_filter input {
	float : right;
	display : inline-block;
	border : 1px solid #E5E5E5;
	margin : 8px 0 0;
	padding : 3px 19px 3px 4px;
	font : 11px/15px Arial;
	color : #848484;
	width : 100px;
	height : 15px;
}

.dataTables_wrapper .dataTables_paginate {
	float : right;
	margin : 8px 0 0;
	width : auto;
}

.dataTables_paginate span.paginate_button {
	float : left;
	margin : 0 0 0 3px;
	text-indent : 999px;
	overflow : hidden;
	cursor : pointer;
	height : 23px;
}

.dataTables_paginate span.paginate_button.first {
	background : url(../../../gfx/table.gif) no-repeat left 0 transparent;
	width : 44px;
}

.dataTables_paginate span.paginate_button.previous {
	background : url(../../../gfx/table.gif) no-repeat left -23px transparent;
	width : 43px;
}

.dataTables_paginate span.paginate_button.next {
	background : url(../../../gfx/table.gif) no-repeat left -46px transparent;
	width : 42px;
}

.dataTables_paginate span.paginate_button.last {
	background : url(../../../gfx/table.gif) no-repeat left -69px transparent;
	width : 42px;
}

.dataTables_paginate span span.paginate_button,
.dataTables_paginate span span {
	float : left;
	background : url(../../../gfx/table.gif) no-repeat left -92px transparent;
	padding : 6px 0 0;
	margin : 0 0 0 3px;
	font : 11px/1.0em Arial;
	text-align : center;
	text-indent : 0;
	cursor : pointer;
	width : 23px;
	height : 17px;
}

.dataTables_paginate span span:hover,
.dataTables_paginate span span.paginate_active {
	color : #1c1c1c;
	font-weight : bold;
}