/*
Template Name: GodZilla
Author: Rory Kranendonk
Author URI: http://www.dreamwire.nl
Version: 1.0
*/

.tipsy {
	padding : 5px;
	font-size : 11px;
	position : absolute;
	z-index : 100000;
}

.tipsy-inner {
	padding : 5px 8px 4px 8px;
	background-color : black;
	color : white;
	max-width : 200px;
	text-align : center;
}

.tipsy-arrow {
	position : absolute;
	background : url(../../../gfx/tipsy.gif) no-repeat top, left;
	width : 9px;
	height : 5px;
}

.tipsy-n .tipsy-arrow {
	top : 0;
	left : 50%;
	margin-left : -4px;
}

.tipsy-nw .tipsy-arrow {
	top : 0;
	left : 10px;
}

.tipsy-ne .tipsy-arrow {
	top : 0;
	right : 10px;
}

.tipsy-s .tipsy-arrow {
	bottom : 0;
	left : 50%;
	margin-left : -4px;
	background-position : bottom, left;
}

.tipsy-sw .tipsy-arrow {
	bottom : 0;
	left : 10px;
	background-position : bottom, left;
}

.tipsy-se .tipsy-arrow {
	bottom : 0;
	right : 10px;
	background-position : bottom, left;
}

.tipsy-e .tipsy-arrow {
	top : 50%;
	margin-top : -4px;
	right : 1px;
	width : 9px;
	height : 9px;
	background-position : top, right;
}

.tipsy-w .tipsy-arrow {
	top : 50%;
	margin-top : -4px;
	left : 1px;
	width : 9px;
	height : 9px;
}