<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
        <title>{% block title %}Bungle{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets
            'css/style.css'
            'css/style_text.css'
            'css/login.css'
            'css/link-buttons.css'
            'css/fullcalendar.css'
            'css/forms.css'
            'css/form-buttons.css'
            'css/accordion.css'
            'css/modalwindow.css'
            'css/system-messages.css'
            'css/datatable.css'
            'css/statics.css'
            'css/tabs.css'
            'css/alerts.css'
            'css/tooltip.css'
            'css/notifications.css'
            'css/prettify.css'
            'css/elfinder.css'
            'css/pirebox.css'
            'css/colorpicker.css'
            'css/wizard.css'
            'css/wysiwyg.css'
            'css/wysiwyg.modal.css'
            'css/wysiwyg-editor.css'
            output='css/compiled/screen.css'
            filter='cssrewrite,?yui_css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% endblock %}
        {% javascripts
            'js/jquery-1.7.1.min.js'
            'js/jquery-ui.js'
            'js/jquery-ui-select.js'
            'js/jquery-ui-spinner.js'
            'js/jquery.customInput.js'
            'js/jquery.dataTables.js'
            'js/jquery.smartwizard-2.0.min.js'
            'js/jquery.alerts.js'
            'js/jquery.flot.js'
            'js/jquery.graphtable-0.2.js'
            'js/jquery.flot.pie.min.js'
            'js/jquery.flot.resize.min.js'
            'js/jquery.filestyle.mini.js'
            'js/prettify.js'
            'js/elfinder.min.js'
            'js/jquery.jgrowl.js'
            'js/colorpicker.js'
            'js/jquery.tipsy.js'
            'js/fullcalendar.min.js'
            'js/pirobox.extended.min.js'
            'js/jquery.validate.min.js'
            'js/jquery.metadata.js'
            'js/jquery.wysiwyg.js'
            'js/controls/wysiwyg.image.js'
            'js/controls/wysiwyg.link.js'
            'js/controls/wysiwyg.table.js'
            'js/plugins/wysiwyg.rmFormat.js'
            'js/costum.js'
            output='js/compiled/main.js'
            filter='?yui_js'
        %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}


                <!--[if lte IE 8]>
                        <script type="text/javascript" src="js/excanvas.min.js"></script>
                <![endif]-->

        </head>

        <body onload="prettyPrint()">

            <div id="wrapper" class="login">		
                <div id="right">
                    <div id="main">

                        <div class="section">
                            <div class="box">
                                <div class="title">
                                    <h2>Account Login</h2>
                                    <div class="hide"></div>
                                </div>
                                <div class="content nopadding">

                                    <div class="tabs">
                                        <div class="tabmenu">
                                            <ul> 
                                                <li><a href="#tabs-1">Login</a></li> 
                                                <li><a href="#tabs-2">Password forgotten?</a></li> 
                                            </ul>
                                        </div>

                                        <div class="tab nopadding" id="tabs-1">
                                                            {% if error %}
                                                <div class="content">
                                                    <div class="system info">{{ error|trans({}, 'FOSUserBundle') }}</div>
                                                </div>
                                                            {% endif %}
                                                <form action="{{ path("fos_user_security_check") }}" method="post">
                                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                                    <div class="row">
                                                        <label>Username</label>
                                                        <div class="rowright"><input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /></div>
                                                    </div>
                                                    <div class="row">
                                                        <label>Password</label>
                                                        <div class="rowright"><input type="password" id="password" name="_password" required="required" /></div>
                                                    </div>
                                                    <div class="row">
                                                        <label>
                                                            <div class="custom-checkbox"><input type="checkbox" name="_remember_me" value="on" id="remember_me" class="checkedFocus"><label for="remember_me" class="">Remember me?</label>
                                                            </div>
                                                        </label>			
                                                        <div class="rowright button">
                                                            <button type="submit" class="medium grey"><span>Login</span></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="tab nopadding" id="tabs-2">
                                                <form action="">
                                                    <div class="row">
                                                        <label>Username *</label>
                                                        <div class="rowright"><input type="text" value="" /></div>
                                                    </div>
                                                    <div class="row">
                                                        <label>Email Address *</label>
                                                        <div class="rowright"><input type="text" value="" /></div>
                                                    </div>
                                                    <div class="row">
                                                        <label>
                                                            * Required field
                                                        </label>
                                                        <div class="rowright button">
                                                            <button type="submit" class="medium grey"><span>Sumbit</span></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </body>

        </html> 