{% extends '::base.html.twig' %}

{% block title %}Index{% endblock %}
{% block subnav %}<li class="active"><a href="#">Dashboard</a></li>{% endblock %}
{% block content %}
    <div class="box">
        <div class="title">
            <h2>Index</h2>
            <div class="hide"></div>
        </div>
        <div class="content">Index Page</div>
    </div>
{% endblock %}