{% extends '::base.html.twig' %}

{% block title %}Setup{% endblock %}
{% block subnav %}<li class="active"><a href="/setup">Setup</a></li>{% endblock %}
{% block content %}
    <div class="box">
        <div class="title">
            <h2>Setup</h2>
            <div class="hide"></div>
        </div>
        <div class="content">
            <ol>
                <li>Default Company has been added.</li>
                <li>Default User has been added. (mdalby:Jtc03291!)</li>
            </ol>
            <b>Setup Complete</b>
        </div>
    </div>
{% endblock %}