{% extends '::base.html.twig' %}

{% block title %}Edit Profile{% endblock %}
{% block subnav %}<li class="active"><a href="{{ path('fos_user_profile_show') }}">Edit Profile</a></li>{% endblock %}
{% form_theme form 'BungleCoreBundle:Form:theme.html.twig' %}
{% block content %}
    <div class="box">
        <div class="title">
            <h2>Editing Profile: {{ app.user.name }}</h2>
            <div class="hide"></div>
        </div>
        <div class="content">
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST">
            {{ form_widget(form) }}
            <div class="row">
                <button type="submit" class="medium green" name="submit" value="submit"><span>Submit</span></button>
            </div>
            </form>
        </div>
    </div>
{% endblock %}