{% extends '::base.html.twig' %}

{% block title %}View Profile{% endblock %}
{% block subnav %}<li class="active"><a href="{{ path('fos_user_profile_show') }}">View Profile</a></li>{% endblock %}
{% block content %}
    <div class="box">
        <div class="title">
            <h2>View Profile</h2>
            <div class="hide"></div>
        </div>
        <div class="content">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Company:</strong> {{ user.company.name }}</p>
            <p><strong>Full Name:</strong> {{ user.name }}</p>
            <p><strong>Email:</strong>&nbsp;{{ user.email }}</p>
            <p><strong>Enabled:</strong>{{ user.enabled }}</p>
            <p><strong>Roles:</strong> <ul>{% for key,value in user.roles %}<li>{{value}}</li>{% endfor %}</ul></p>
            <p><strong>Last Login:</strong>&nbsp;{{ user.lastlogin|date('d-m-Y H:m') }}</p>
            <button onclick='location.href="{{path('fos_user_profile_edit')}}"' class="medium blue" value="Edit Profile"><span> Edit Profile</span></button>
        </div>
    </div>
{% endblock %}